.movies-cardlist {
  /* display: flex;
  flex-direction: row;
  gap: 32px 20px;
  align-items: center;
  align-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 38px 20px;
  justify-content: space-evenly;
  padding: 0;
  max-width: 100%;
  margin: 70px 0 30px ;
}

@media screen and (max-width: 768px) {
  .movies-cardlist {
    /* gap: 36px 30px; */
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 30px 30px;
  }
}

@media screen and (max-width: 440px) {
  .movies-cardlist {
    margin: 40px 0 30px;
    /* flex-direction: column;
    gap: 20px;
    align-content: center; */
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 34px;
  }
}
