.techs {
  padding: 100px 70px;
  background-color: #272727;
}

.techs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.techs__title {
  font-size: 50px;
  line-height: 58px;
  font-weight: normal;
  margin: 89px 0 0 0;
}

.techs__subtitle {
  max-width: 460px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 26px 0 0;
}

.techs__list {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 100px 0 0;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  color: #000;
}

.techs__list-item {
  width: 100%;
  height: 60px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #303030;
}

.techs__list-item-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 91px 50px 90px;
  }
  .techs__title {
    font-size: 50px;
    margin-top: 80px;
  }
  .techs__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-top: 21px;
  }
  .techs__list {
    margin-top: 83px;
  }

  .techs__list-item {
    width: 84px;
    height: 57px;
  }

  .techs__list-item-text {
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 690px) {
  .techs__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .techs__title {
    font-size: 35px;
  }

  .techs__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 414px) {
  .techs {
    padding: 73px 18px 49px;
  }

  .techs__title {
    font-size: 30px;
    margin-top: 51px;
  }

  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
    margin-top: 13px;
  }

  .techs__list {
    margin-top: 50px;
  }

  .techs__list {
    max-width: 178px;
  }
}
