.about-me {
  padding: 110px 70px 100px;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
  margin: 66px 0 0 0;
}

.about-me__block {
  display: flex;
  flex-direction: column;
}

.about-me__name {
  font-size: 50px;
  line-height: 58px;
  margin: 0;
}

.about-me__job {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 26px;
}

.about-me__text {
  max-width: 600px;
  font-size: 14px;
  line-height: 22px;
  margin: 0 35px 99px 0;
}

.about-me__link {
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.about-me__link:hover {
  opacity: 0.7;
}

.about-me__img {
  width: 270px;
  object-fit: contain;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__job {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 20px 0;
  }

  .about-me__text {
    max-width: 364px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 49px 87px 0;
  }

  .about-me__img {
    width: 255px;
  }
}

@media screen and (max-width: 690px) {
  .about-me__content {
    flex-direction: column-reverse;
    align-items: left;
  }

  .about-me__content {
    margin-top: 60px;
  }

  .about-me__block {
    width: 100%;
    margin-top: 40px;
  }

  .about-me__job {
    margin: 20px 0 20px;
  }

  .about-me__text {
    align-self: center;
    max-width: none;
  }

  .about-me__img {
    width: 292px;
  }
}

@media screen and (max-width: 360px) {
  .about-me {
    padding: 90px 14px 70px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 40px;
  }

  .about-me__block {
    width: 100%;
    margin-top: 39px;
  }

  .about-me__job {
    font-size: 11px;
    line-height: 16px;
    margin-top: 18px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    text-align: justify;
    margin: 0 0 40px 0;
  }
}
